body {
  width:50%;
  margin-right:25%;
  margin-left:25%;
  margin-top:auto;
  margin-bottom:auto;
  
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
main{
  margin-left:10px;
}
h1,footer{
  text-align: center;
  background-color: aqua;
}