
main{
  font-family: 'Roboto', sans-serif;
  display:grid;
  grid-gap: 20px;
  max-width: 30%;
  margin-right: 30%;
  margin-left: 30%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "header"
		"nav"
		"main"
    "footer";
  align-content: center;
}

@media only screen and (min-width:40em){
  main{
    font-family: 'Roboto', sans-serif;
    display:grid;
    grid-gap: 20px;
    max-width: 760px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
}
@media only screen and (min-width:70em){
  main{
    font-family: 'Roboto', sans-serif;
    display:grid;
    grid-gap: 20px;
    max-width: 760px;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
}
h1{
  text-align:center;
}
div{
  min-width:200px;
  background-color: gray;
}
img{
  min-width: 100px;
  min-height:200px;
}